body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-image {
  display: flex;
  align-items: flex-end;
}

.title-text {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.02em;
}

.contribution-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.contribution {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.settings-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/**
 * Stats CSS Styling
 *
 */

 .stats-container {
   display: flex;
   padding-top: 1.5rem;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
 }

.stat-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.stat-name {
  width: 65px;
  align-items: flex-start;
  display: none;
}

@media only screen and (min-width: 768px) {
    .stat-name {
      display: block;
    }
}

.stats-title {
  display: flex;
  justify-content: flex-end;
  display: none;
}

@media only screen and (min-width: 768px) {
    .stats-title {
      display: block;
    }
}


.eff-title {
  display: flex;
  justify-content: flex-end;
}

/**
 * Stats Header Row
 *
 */

.stat-header {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  justify-content: flex-end;
  font-weight: bold;
}

.stat-name-header {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.stat-input-header {
  width: 55px;
  display: flex;
  justify-content: center;
}

.potion-header {
  width: 130px;
  display: flex;
  justify-content: center;
}

.prayer-header {
  width: 90px;
  display: flex;
  justify-content: center;
}

.elevel-header {
  align-content: flex-end;
}

.username-label {
  padding-right: 2px;
  font-weight: bold;
  font-size: 1rem;
}

.image-icon {
  display: flex;
  align-items: baseline;
}

.image-container {
  width: 25px;
  margin-right: 2px;
  display: flex;
  justify-content: flex-start;
}


.combat-level {
  font-size: 1rem;
  padding-left: 2px;
}

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

 .equipment-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
 }

 .equipment-set {
   padding: 1rem;
   display: flex;
   flex-direction: row;
 }


.equip-buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}



.preset-select {
  display: flex;
}

.user {
  padding: 10px;
}

.calcs {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.enemy-container {
  padding: 10px;
}

.settings {
  display: flex;
  padding-top: 1.5rem;

}

.text-higher {
  color: #2f54eb;
  background-color: #1890ff0a;
  min-width: 50px;
}

.text-lower {
  color: black;
  min-width: 50px;
}

.calcs-table {
  border: 1px;
  border-color: black;

}


.enemy-icon-container {
  display: flex;
  justify-content: center;
  padding: 4px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.enemy-icon{
  height: 30px;
  width: 30px;
  padding: 2px;
}

.options-container{
  display: flex;
  flex-direction: column;
}

.options-row{
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

.options-image{
  align-self: baseline;
  margin-right: 5px;
  width: 27px;
  height: 27px;
}

.options-name{
  align-self: center;
}

/**
 * Equipment CSS
 *
 */

.equipment-rows-container {

}

.calcs table {
  table-layout: fixed;
}

.equipment-row {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

.equip-icon-container{
  height: 30px;
  width: 30px;
  margin-right: 5px;
  align-self: center;
}

.equip-icon {
  align-self: center;
  height: 30px;
  width: 30px;
}

.equip-name {
  width: 55px;
  align-self: center;
}

.equip-header {
  font-weight: bold;
}

/**
 * Calcs CSS
 */

.calcs-table td {
  border: 1px solid #f0f2f5;
  padding: 0.4rem;
  width: 0;
}

.calcs-table th {
  padding-left: 0.4rem;
}
