body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.equip-buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.preset-select {
  display: flex;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stats {
  padding: 30px;
}

.user {
  padding: 10px;
}

.calcs {
  padding: 30px;
}

.enemy {
  padding: 10px;
}

.settings {
  padding: 30px;

}

.equip-container{
  flex-basis: 50%
}

.equipment {
  padding: 10px;
  flex-basis: 50%
}
